tp_client/src/main/java/proxy/localhost:8087.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example.org/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://example.org/" schemaLocation="http://localhost:8087/?xsd=1"/>
</xsd:schema>
</types>
<message name="ConversionEuroToDH">
<part name="parameters" element="tns:ConversionEuroToDH"/>
</message>
<message name="ConversionEuroToDHResponse">
<part name="parameters" element="tns:ConversionEuroToDHResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="getComptes">
<part name="parameters" element="tns:getComptes"/>
</message>
<message name="getComptesResponse">
<part name="parameters" element="tns:getComptesResponse"/>
</message>
<portType name="BanqueService">
<operation name="ConversionEuroToDH">
<input wsam:Action="http://example.org/BanqueService/ConversionEuroToDHRequest" message="tns:ConversionEuroToDH"/>
<output wsam:Action="http://example.org/BanqueService/ConversionEuroToDHResponse" message="tns:ConversionEuroToDHResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://example.org/BanqueService/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://example.org/BanqueService/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="getComptes">
<input wsam:Action="http://example.org/BanqueService/getComptesRequest" message="tns:getComptes"/>
<output wsam:Action="http://example.org/BanqueService/getComptesResponse" message="tns:getComptesResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConversionEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:8087/"/>
</port>
</service>
</definitions>